*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    width: 100%;
    height: 100%;
}


.main{
    width: 100%;
    height: 100vh;
    background: #3E0429;
background: linear-gradient(120deg, rgba(62, 4, 41, 1) 0%, rgba(15, 9, 88, 1) 60%, rgba(53, 11, 71, 1) 100%);
    color: #fff;
        font-family: "Open Sans", sans-serif;
        padding: 2% 18%;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8%;
}

.nav h2{
    font-weight: 500;
    font-size: 20px;
}

.nav h3{
    font-weight: 500;
    font-size: 12px;
}

.cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    /* height: 60vh; */
    /* background-color: pink; */
}

.card{
    width: 22%;
    height: 42vh;
    background-color: rgba(254, 254, 254, 0.224);
    border-radius: 8%;
    padding: 2% 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-top{
    height: 70%;
    /* background-color: grey; */
}

.card img{
    width: 100%;
    height: 85%;
    object-fit: cover;
    object-position: top;
    border: 1.456px solid #fff;
    border-radius: 5%;
}

.heading{
    display: flex;
    justify-content: space-between;
    margin-top: 2.5%;

}

.heading h3{
    font-size: 14px;
    font-weight: 400;
}

.heading>div{
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 6px;
}

.card button{
    background-color: transparent;
    border: 3px solid #A77BD3;
    font-family: "Open Sans", sans-serif;
    border-radius: 35px;
    width: 83%;
    color: white;
    padding: 5px 15px;
    margin: 0 auto;
    font-family: 20px;
}